html{
  font-family: 'Karla';
  box-sizing: border-box;
  background: hsl(204, 43%, 93%);
  font-size: 16px;
  padding: 20px;
}
*, *:before, *:after{
  box-sizing: inherit;
}
#maincont{
  margin: 0 auto;
  box-shadow: 4px 4px 7px 3px rgba(0,0,0,0.25);
  border-radius: 10px;
  overflow: hidden;
}
#top{
  padding: 20px;
  background: white;
  height: 45%;
}
#bottom{
  height: 55%;
}
#top h3{
  color: hsl(179, 77%, 45%);
}
#top p{
  color: hsl(218, 22%, 67%);
  margin-bottom: 2px;
  font-size: 15px;
}
#top h4{
  color: hsl(71, 73%, 54%);
  margin-bottom: 15px;
}
h4, h3, p, ul{
  color: hsl(204, 43%, 93%);
  opacity: 0.95;
  margin: 0;
  margin-bottom: 20px;
}
#left-box, #right-box{
  width: auto;
  height: auto;
  padding: 20px;
}
#left-box{
  background: hsl(179, 62%, 43%);
}
#price, #pricef { 
  display: inline-block;
  color: hsl(204, 43%, 93%);
}
#price{
  font-weight: 700;
  font-size: 1.4rem;
  opacity: 0.9;
}
#pricef {
  position: relative;
  top: -3px;
  opacity: 0.7;
  margin-left: 5px;
}
#left-box p{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}
#right-box{
  background: hsl(179, 77%, 45%);
}
ul{
  padding: 0;
  list-style: none;
  font-size: 0.9rem;
}
#sbtn{
 height: 35px;
 width: 100%;
 color: hsl(204, 43%, 73%);
 border: 0;
 border-radius: 3px;
 background-color: hsl(71, 73%, 54%);
 box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
}
button:hover{
  cursor: pointer;
}
@media(min-width: 576px){
  #maincont{
  width: 550px;
  height: 400px;
  }
  #left-box, #right-box{
  width: 50%;
  height:100%;
  float: left;
  
  }
}
